<%= tinymce_assets %>
<%= nested_form_for @story ,:html=>{:multipart =>true } do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_row">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, Category.all.map {|x| [x.name,x.id]}, prompt: "select category" %>
  </div>

  <div class="form_row">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form_row">
    <%= f.label :content %><br>
    <%= f.text_area :content,:class => 'tinymce' %>
  </div>

  <div class="form_row">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  
  <fieldset>
    <legend>Story Images:</legend>
    <table>
      <%= f.fields_for :images do |image_form| %>
        <tr>
          <td>          
            <span>
              <%= image_tag(image_form.object.image.url(:thumb)) if image_form.object.image.present? %>
            </span>
          </td>
          <td>
            <%#= image_form.label :image,"Upload Image"%><%= image_form.file_field :image%>
          </td>
          <td><%= image_form.link_to_remove image_tag("delete.png",size: "17x17")%></td>
        </tr>
      <% end %>
        <tr>
          <td colspan="3" align="right">
            <%= f.link_to_add "Add a image", :images %>
          </td>
        </tr>
    </table>
      <%#= image_form.link_to_remove "Remove this image" %>
  </fieldset>


  <div class="submit_btn">
    <%#= f.submit %>
    <td><%= f.submit f.object.new_record? ? 'Create' : 'Update' %></td>
  </div>

<% end %>
<%= tinymce %>
<script type="text/javascript">
<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea.editor'
  });
</script>
</script>